* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Cairo", Courier, monospace;
}
body {
  display: grid;
  justify-content: center;
  align-items: center;
}
section {
  position: absolute;
  font-weight: bold;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  min-height: 800px;
  padding: 10px 30px;

  background-color: #ffffff;
  color: black;
  text-align: right;
}

.random {
  font-size: 12px;
}

h1 {
  text-align: center;
  filter: inherit;
  margin-bottom: 20px;
  color: #fa7375;
}
img {
  margin: 10px 0px 10px 20px;
  max-width: 500px;
  filter: inherit;
  float: right;
  border-radius: 10px;
}

input[type="checkbox"] {
  position: fixed;
  z-index: 1;
  top: 12px;
  right: 20px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type="checkbox"]:checked ~ * {
  filter: invert(1);
}
.check {
  content: "";
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  background-color: #c3c3c3;
  border-radius: 20px;
  cursor: pointer;
}
.check::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff9191;
  transition: 0.3s;
}
.check::before {
  content: "";
  font-size: 11px;
  position: absolute;
  width: 40px;
  height: 20px;
  border-radius: 20px;
  background-color: #ffd8d8;
  transition: 0.3s;
}

input[type="checkbox"]:checked::after {
  transform: translateX(20px);
  background-color: #fff;
}
input[type="checkbox"]:checked::before {
  background-color: #fa7375;
}
